<div id="banner">
  <div class="inner">
    <div class="container">
      <h1><%= t(:message_banner_heading) %></h1>
      <p class="lead"><%= t(:message_banner_info1) %>
      <br> <%= t(:message_banner_info2) %>
      <br> <%= t(:message_banner_info3) %>
      </p>
    </div>
  </div>
</div>