<div id="banner">
  <div class="inner">
    <div class="container">
      <h1><%= t('.heading') %></h1>
      <p class="lead"><%= t('.info1') %>
      <br><%= t('.info2') %>
      <br><%= t('.info3') %>
      </p>
    </div>
  </div>
</div>