<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span8 columns">
        <p><a href="http://github.com/johanns/celox">Fork me on GitHub</a></p>
      </div>
      <div class="span8 columns">
        <p>Released by Johanns Gregorian under MIT license.</p>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /footer -->