<div class="topbar">
  <div class="fill">
    <div class="container">
      <h3><a href="<%= APP_URL %>">Celox.<strong>ME</strong>ssage (beta)</a></h3>
      <ul>
        <li><a href="<%= APP_URL %>"><%= t(:message_menu_new_message) %></a></li>
      </ul>
    </div>
  </div>
</div>