<%= render 'banner' %>

<div id="content" style="height: 400px">
  <div class="container">
    <div style="padding-top: 120px">
      <div class="alert-message block-message error">
        <p style="text-align: center"><%= t(:message_not_found) %></p>
      </div>
    </div>
  </div>
</div>