<%= render 'banner', :heading => t('.heading'), :info1 => t('.info1') %>

<div class="container mbody">
	<table>
		<tr>
			<td valign="center">
				<div class="alert-message block-message error">
			  	<%= t('.not_found') %>
			  </div>
		  </td>
	  </tr>
  </table>
	<input value="<%= t('.new_message') %>" class="btn large success" type="button" style="margin: 10px;" onclick="location.href='<%= escape_javascript(APP_URL) %>'" />
</div>
