<% turbo_exempts_page_from_cache %>

<div class="page-container">
  <div class="card-wrapper">
    <div class="card-content" <%= html_attributes(message_encryption_data_attributes) %>>
      <%= render(partial: "form", locals: { message: @message }) %>
      <%= render(partial: "success", locals: { message: @message }) %>
    </div>
  </div>
</div>
