<% turbo_exempts_page_from_cache %>

<div class="page-container">
  <div class="card-wrapper">
    <div class="card-content">
      <%= render(partial: "messages/show/header") %>

      <% if @message.read? %>
        <%= render(partial: "messages/show/read_alert", locals: { message: @message }) %>
      <% else %>
        <%= render(
              partial: "messages/show/decryption_form",
              locals: {
                message: @message,
                message_body: @message_body,
                challenge: @challenge
              }
            ) %>
      <% end %>

      <%= render(partial: "messages/show/actions") %>
    </div>
  </div>
</div>
