<%= render 'banner', :heading => t('.heading'), :info1 => t('.info1') %>

<div class="container">
	<div style="margin-top: 120px">
		<div class="alert-message block-message info">
			<%= APP_TRACK_IP ? t('.message_was_read_at_by_ip', :read_at => time_ago_in_words(@results[:read_at]), :remote_ip => @results[:recipient_ip]) 
							 : t('.message_was_read_at', :read_at => time_ago_in_words(@results[:read_at])) %>
		</div>
	</div>
	<div class="well" style="margin-top: 10px">
		<input value="<%= t('.new_message') %>" class="btn btn-large btn-success" type="button" onclick="location.href='<%= new_message_path %>'" />
	</div>
</div>