<%= render 'banner' %>

<div id="content" style="height: 400px">
  <div class="container">
    <div style="padding-top: 120px">
      <div class="alert-message block-message info">
        <p style="text-align: center"><%= @data %></p>
      </div>
    </div>
  </div>
</div>