<%# locals: () %>
<div class="mt-8">
  <%= link_to root_path, class: "btn-outline-primary-full" do %>
    <%= icon("plus", class: "h-5 w-5 mr-2") %>
    <%= t(".create_new_message") %>
  <% end %>
</div>
