body
{
  background: darkgray;
  margin: 0;
  padding: 0;
}

#header
{
  background: url("header_background.png") white;
  height: 100px;
  width: 100%;

  //border-top-right-radius: 10px;
  //border-top-left-radius: 10px;
}

#banner
{
  background: white;
}

#main
{
  background: white;

  #col_right, #col_left
  {
  }
}

#footer
{
  //border-bottom-right-radius: 10px;
  //border-bottom-left-radius: 10px;
}