// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background-color: #333333;
  position: relative;
}
section {
  padding-top: 60px;
}
#banner {
  background-color: lightgray;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(lightgray));
  background-image: -webkit-linear-gradient(#333333, lightgray);
  background-image: -moz-linear-gradient(#333333, lightgray);
  background-image: -o-linear-gradient(top, #333333, lightgray);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(lightgray));
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#333333', EndColorStr='lightgray', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='lightgray', GradientType=0))";
  margin-top: 40px;
}
#banner div.inner {
  padding: 25px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}
#banner h1,
#footer h1,
#banner p,
#footer p {
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#banner p a,
#footer p a {
  color: white  ;
  font-weight: bold;
}
#banner h1,
#banner p {
  text-align: center;
  margin-bottom: 9px;
}
#banner h1 {
  font-size: 30px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#banner p {
  font-weight: 300;
}
#banner p.lead {
  font-size: 24px;
  line-height: 27px;
}
#main {
  background: white;
  min-height: 485px;
  
  .mbody {
    vertical-align: middle;
    padding: 10px;

    table {
      height: 100%;
      width: 100%;
    }

    textarea {
      background: #EEEEEE;
      font-weight: bold;
      font-size: 16px;
      width: 99%;
      height: 250px;
      outline: large;
    }
  }
  #form_error {
    margin: auto;
    width: 50%;
    padding-bottom: 10px;
  }
  #form_result {
    input {
      font-color: green;
    }
  }
}
#footer{
  margin-top: 15px;
  border: 0 transparent;
}

