
<!DOCTYPE html>
<html>
<head>
  <title>Celox</title>
  <link rel="stylesheet" href="assets/bootstrap-1.0.0.min.css" type="text/css">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <img src="/assets/logo.png" style="margin-top: 20px;" />
  </div>
  
  <div id="main">
    <div class="container">
      <section id="banner">
        <div class="row">
          <div class="span8 columns">
            Banner Section 1
          </div>
          <div class="span8 columns">
            Banner Section 2
          </div>
        </div>
      </section>
      <section id="content">
        <div class="row">
          <div class="span16"> <%= yield %> </div>
        </div>
      </section>
    </div>
  </div>

  <div id="footer" style="padding: 20px; height: 100%">
    <div class="container">
      <section id="footer_bits">
        <div class="row">
          <div class="span8 columns"> <p>Footer Text Left</p> </div>
          <div class="span8 columns"> <p>Footer Text Right</p> </div>
        </div>
      </section>
    </div>
  </div>

  <%= javascript_include_tag "application" %>

  <a href="http://github.com/johanns/celox"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a> 
</body>
</html>
